<div class="container auth mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="h3  login text-light d-flex">
        <button *ngIf="forgotPassword" class="btn btn-sm btn-outline-primary mr-3" (click)="back()">Back</button>
        {{ !forgotPassword ? "Login" : "Forgot Password" }}
      </div>
      <div *ngIf="!forgotPassword" class="card px-5 py-3 bgdark">
        
        <div style="text-align: center">
          <button
            [ngClass]="
              selectedRole === 'student' ? 'btn-primary' : 'btn-secondary'
            "
            (click)="selectRole('student')"
            class="btn mr-3 mb-3"
          >
            Student
          </button>
          <button
            [ngClass]="
              selectedRole === 'instructor' ? 'btn-primary' : 'btn-secondary'
            "
            (click)="selectRole('instructor')"
            class="btn mr-3 mb-3"
          >
            Instructor
          </button>
          <button
            [ngClass]="
              selectedRole === 'admin' ? 'btn-primary' : 'btn-secondary'
            "
            (click)="selectRole('admin')"
            class="btn mr-3 mb-3"
          >
            Admin
          </button>
          <button
          [ngClass]="
            selectedRole === 'organization' ? 'btn-primary' : 'btn-secondary'
          "
          (click)="selectRole('organization')"
          class="btn mr-3 mb-3"
        >
          Organization
        </button>
        </div>
        <ng-container *ngIf="selectedRole !== 'organization'">
        <label class="form-label text-grey" for="email">Email</label>
        <input
          [(ngModel)]="email"
          id="email"
          class="form form-control"
          type="text"
        />
        <label class="form-label text-grey" for="email">Password</label>
        <input
          type="password"
          [(ngModel)]="password"
          id="password"
          class="form form-control"
        />
        <a
          class="mt-3 text-white pointer forgot"
          *ngIf="selectedRole == 'student'"
          (click)="handleForgotPassword()"
          >Forgot Password</a
        >
        </ng-container>
        <ng-container *ngIf="selectedRole === 'organization'">
          <label class="form-label text-grey" for="email">Organization Name</label>
          <ng-select  class="select" [items]="organizations" bindLabel="name" bindValue="id" [(ngModel)]="organization" [placeholder]="'select Organization'"></ng-select>
          <label class="form-label text-grey" for="email">Password</label>
          <input
            type="password"
            [(ngModel)]="password"
            id="password"
            class="form form-control"
          />
        </ng-container>
        <div class="mt-5" style="text-align: center">
          <button
            [disabled]="selectedRole !== 'organization' ? (!email || !password):(!organization || !password)"
            (click)="login()"
            class="btn btn-primary"
          >
            Login
          </button>
          <br />
          <a routerLink="/auth/signup">New User? Sign Up</a>
        </div>
      </div>
      <div *ngIf="forgotPassword" class="card px-5 py-3 bgdark">
        <label class="form-label text-grey" for="email">Email</label>
        <input
          [(ngModel)]="email"
          id="email"
          placeholder="Enter registered email address"
          class="form form-control"
          type="text"
        />
        <div class="mt-5" style="text-align: center">
          <button [disabled]="!email" (click)="reset()" class="btn btn-primary">
            Reset Password
          </button>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
