<a [routerLink]="['/courses/'+course._id]">
  <div class="card root cardbg shadow">
    <img [src]="course.thumbnail" alt="" class="card-img-top" />
    <div class="card-body ml-2 p-1">
      <div class="d-flex" data-toggle="tooltip" [title]="course.name">
        <h5 class="card-title mb-0 f-16 white ins-name">{{ course.name }}</h5>
        <i class="bi bi-heart ml-auto grey f-24 mr-1 mt-2"></i>
      </div>
      <p data-toggle="tooltip" [title]="course.instructors[0].firstname +' '+course.instructors[0].lastname" *ngIf="name===''" class="card-sub f-13 grey mb-2 mt-1 ins-name">
        {{
          course.instructors[0].firstname + " " + course.instructors[0].lastname
        }}
      </p>
      <p data-toggle="tooltip" [title]="name" *ngIf="name!=''" class="card-sub f-13 grey mb-2 mt-1 ins-name">
        {{
          name
        }}
      </p>
      <div class="d-flex">
        <div class="rating flex ml-1">
          <i class="bi bi-star-fill gold mr-1"></i>
          <i class="bi bi-star-fill gold mr-1"></i>
          <i class="bi bi-star-fill gold mr-1"></i>
          <i class="bi bi-star-fill gold mr-1"></i>
          <i class="bi bi-star-fill gold mr-1"></i>
        </div>
        <small class="text-50 grey ml-auto"
          >{{ course.courseHours }} hours</small
        >
      </div>
    </div>
  </div>
</a>
