<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel"> -->

                    <!-- <div class="carousel-inner"> -->
                        <!-- <div *ngIf="i%2==0||(i%2==1&&i==courses.length)"  [ngClass]="i == 0 ? 'active' : ''" class="carousel-item"> -->
                            <div class="row" >
                                <ng-container *ngIf="courses?.length;else noCourse">
                                    <ng-container *ngFor="let course of courses;let i=index">
                                    <div  class="col-md-3 col-sm-5 mb-3">
                                      <app-ins-course-card [name]="name"  [course]="courses[i]"></app-ins-course-card>
                                    </div>
                                </ng-container>
                            </ng-container>
                                </div>
                                    <!-- <div *ngIf="i!=courses.length" class="col-md-6 mb-3">
                                        <app-course-card [course]="courses[i+1]"></app-course-card>
                                    </div> -->
                            <!-- </div> -->
                       
                       
                       
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</section>

<ng-template #noCourse>
    <h4 class="white">No Courses Added</h4>
</ng-template>